@model BookStore.Models.Domain.Book

@{
    ViewData["Title"] = "Add";
}



<h3>Update Book</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update" method="post">
            <input type="hidden" class="form-control" asp-for="Id"/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ISBN" class="control-label"></label>
                <input asp-for="ISBN" class="form-control" />
                <span asp-validation-for="ISBN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalPages" class="control-label"></label>
                <input asp-for="TotalPages" class="form-control" />
                <span asp-validation-for="TotalPages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenreId" class="control-label"></label>
                <select asp-for="GenreId" asp-items="Model.GenreList" class="form-control">
                    <option value="">"select"</option>
                </select>
                <span asp-validation-for="GenreId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorId" class="control-label"></label>
                <select asp-for="AuthorId" asp-items="Model.AuthorList" class="form-control">
                    <option value="">"select"</option>
                </select>
                <span asp-validation-for="AuthorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublisherId" class="control-label"></label>
                <select asp-for="PublisherId" asp-items="Model.PublisherList" class="form-control">
                    <option value="">"select"</option>
                </select>
                <span asp-validation-for="PublisherId" class="text-danger"></span>
            </div>
            @{
                if (TempData["msg"] != null)
                {
                    <div class="form-group">
                        @TempData["msg"];
                    </div>
                }
            }
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="GetAll" class="btn btn-secondary">List</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
